<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<table>
<tr>
  <td><strong>Commenter:</strong></td>
  <td><%= reply.commenter %></td>
</tr> 

<tr>
  <td><strong>Comment:</strong></td>
  <td><%= reply.body %></td>
</tr>
</table>